:root {
    --clr-primary-400: hsl(180, 29%, 50%);
    --clr-primary-500: hsl(180deg 31% 50%);
    --clr-primary-600: hsl(180deg 36% 95%);

    --clr-neutral-200: hsl(180, 52%, 96%);
    --clr-neutral-300: hsl(180, 31%, 95%);
    --clr-neutral-400: hsl(180, 8%, 52%);
    --clr-neutral-800: hsl(180, 14%, 20%);

    --ff-league: 'League Spartan', sans-serif;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-300: .75rem;
    --fs-400: .95rem;
    --fs-500: 1.25rem;
    --fs-600: 1.75rem;
    --fs-700: 2.2rem;
    --fs-800: 2.85rem;
    --fs-900: 3.35rem;

    --fs-body: var(--fs-400);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    font-family: var(--ff-league);
}

img {
    width: 100%;
}

/* Reusable classes */

.grid { display: grid;}
.flex { display: flex;}
.even-columns {grid-template-columns: 1fr 1fr;}
.container {
    max-width: var(--max-width, 50em);
    padding: var(--padding-block, 0) var(--padding-inline, 0);
    margin-inline: auto;
}

/* Components */

/* Pills */

.pill {
    display: inline-block;
    text-transform: uppercase;
    border-radius: 100vmax;
    padding: .55rem .5rem;
    font-size: var(--fs-300);
    color: var(--clr-neutral-200);
}

.pill[data-color=primary] {
    background-color: var(--clr-primary-500);
}

.pill[data-color=neutral] {
    background-color: var(--clr-neutral-800);
}

/* Buttons */
.btn {
    border: 0;
    padding: .65rem .5rem;
    border-radius: 5px;
    font-weight: var(--fw-bold);
    cursor: pointer;
}

.btn:hover,
.btn:focus-within {
    transition: color .35s, background-color .35s;
}

.btn[data-color=primary] {
    background-color: var(--clr-primary-600);
    color: var(--clr-primary-400);
}

.btn[data-color=primary]:hover,
.btn[data-color=primary]:focus-within {
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-200);
}

.btn[data-type="icon"] {
    background-image: url(./images/icon-remove.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--clr-primary-400);
    width: 30px;
    height: 30px;
    /* TODO: change width and height */
    /* width: 100%; */
    /* height: 100%; */
}

.btn[data-type="icon"]:hover,
.btn[data-type="icon"]:focus-within {
    background-color: var(--clr-neutral-800);
}

.btn[data-type=normal] {
    background-color: transparent;
    color: var(--clr-neutral-400);
}

.btn[data-type=normal]:hover,
.btn[data-type=normal]:focus-within {
    color: var(--clr-primary-400);
    text-decoration: underline;
}

/* Filter */

.filter {
    display: flex;
    align-items: center;
    background-color: var(--clr-primary-600);
    border-radius: 5px;
}

.filter-text {
    color: var(--clr-primary-400);
    display: inline-block;
    height: 100%;
    padding-inline: .5rem;
    font-weight: var(--fw-bold);
}

.filter .btn[data-type="icon"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Filters */

.filter-container {
    --max-width: 50em;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}

.filters {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

